- provide(:title, 'Help')
%h1 Help
%p
  Get help on the Ruby on Rails Tutorial at the
  = succeed "." do
    %a{:href => "http://railstutorial.jp/help"} Rails Tutorial help page
  = succeed "." do
    %a{:href => "http://railstutorial.jp/book"}
      %em Ruby on Rails Tutorial
      book
